<!--The content below is only a placeholder and can be replaced.-->
<div>
  <img alt="CloudLogo"
       src="assets/images/hedgehog-bird.jpg" class=image>

  <h1>Upload your File!</h1>
  <div>
    <div *ngIf="error">
      {{ error.message }}
    </div>
    <div *ngIf="uploadResponse.status === 'error'">
      {{ uploadResponse.message }}
    </div>
    <div *ngIf="uploadResponse.status === 'progress'">


      <div role="progressbar" [style.width.%]="uploadResponse.message" aria-valuenow="25" aria-valuemin="0"
           aria-valuemax="100">
        {{uploadResponse.message}}%
      </div>

    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <input type="file" name="file" (change)="onFileChange($event)"/>
      <button type="submit">Upload</button>

    </form>
  </div>
  <button (click)="downloadFile()">
    Download
  </button>

  <div *ngIf="dataLoaded">
    <mat-card>
      <div style="min-height: 69px">
        <div *ngIf="thereIsPreviousData()">
          <button mat-button class="header-buttons" (click)="returnHome()">Home</button>
          <button mat-button class="header-buttons" (click)="openPreviousDirectory()">Previous Directory</button>
        </div>
      </div>

      <mat-card-content class="header">
        <div style="font-size: 350%">{{name}}</div>
        {{getPath()}}</mat-card-content>
    </mat-card>

    <mat-card>
      <div>
        <div *ngIf="thereAreDirectories()">
          <div class="file-content">
            <mat-card-content class="header">Directories</mat-card-content>
            <mat-card-content>
              <button class="my-buttons" mat-button (click)="openNextDirectory(directory)"
                      *ngFor="let directory of currentData.directories">{{getDirectoryName(directory.name)}}</button>
            </mat-card-content>
          </div>
        </div>

        <div *ngIf="thereAreFiles()">
          <div class="file-content">
            <mat-card-content class="header">Files</mat-card-content>
            <mat-card-content>
              <button mat-button class="my-buttons" *ngFor="let file of currentData.files">{{file.name}}</button>
            </mat-card-content>
          </div>
        </div>
        <div class="header" *ngIf="!(thereAreFiles()||thereAreDirectories())"> Empty</div>
      </div>
    </mat-card>
  </div>
</div>
<nav>
  <a routerLink="/home"></a>
</nav>
