<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img width="300" alt="CloudLogo"
       src="assets/images/hedgehog-bird.jpg">

  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Current Directory</th>
        <td mat-cell *matCellDef="let directory"> {{directory.name}} </td>
      </ng-container>

      <ng-container matColumnDef="directories">
        <th mat-header-cell *matHeaderCellDef> Directories</th>
        <td mat-cell *matCellDef="let directory">
          <li *ngFor="let directory of directory.directories">{{directory.name}} </li>
        </td>
      </ng-container>

      <ng-container matColumnDef="files">
        <th mat-header-cell *matHeaderCellDef> Files</th>
        <td mat-cell *matCellDef="let directory">
          <li *ngFor="let file of directory.files">{{file.name}} </li>
        </td>

      </ng-container>


      <!-- Name Column -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
<nav>
  <a routerLink="/home"></a>
</nav>
